nav.menu{
    height: 100px;
}
.menu ul li a:hover{
    color:darkgray;
}
/*====Header====*/
div.headbanner{
    height: 575px;
}
div.bannertext>h1{
    font: 60px/65px  Montserrat, Myriad Pro,sans-serif;
    margin-bottom: 65px;
}

div.content{
    height: 245px;
}
div.bigtextbox{
}
div.smalltextbox{
    height: inherit;
}
/*========*/
div.bigtextbox{
    font: 20px/0 Montserrat, Myriad Pro,sans-serif;;
}
div.contentimg>div:nth-child(2),
div.contentimg>div:nth-child(3) {

    width:33%;
    height: inherit;

}